body {
  background-color: white;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.rainbow{
    height: 200px;
    overflow: hidden;
}
.rainbow > div {
    border: 1px solid red;
    width: 400px;
    height: 400px;
    background-color: red;
    border-radius: 50%;
}
.rainbow > div >div{
    border: 1px solid hsl(60, 80%, 50%);
    height: 380px;
    margin: 10px;
    background-color: hsl(60, 80%, 50%);
    border-radius: 50%;
}
.rainbow > div >div >div{
    border: 1px solid hsl(120, 80%, 50%);
    height: 360px;
    margin: 10px;
    background-color: hsl(120, 80%, 50%);
    border-radius: 50%;
}
.rainbow > div >div >div >div{
    border: 1px solid hsl(180, 80%, 50%);
    height: 340px;
    margin: 10px;
    background-color: hsl(180, 80%, 50%);
    border-radius: 50%;
}
.rainbow > div >div >div >div>div{
    border: 1px solid hsl(230, 80%, 50%);
    height: 320px;
    margin: 10px;
    background-color: hsl(230, 80%, 50%);
    border-radius: 50%;
}
.rainbow > div >div >div >div>div>div{
    border: 1px solid hsl(270, 80%, 50%);
    height: 300px;
    margin: 10px;
    background-color: hsl(277, 80%, 50%);
    border-radius: 50%;
}
.rainbow > div >div >div >div>div>div{
    border: 1px solid white;
    height: 300px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}
